/* 
Divine Entertainment Inc. 
-Booking Page Stylesheet-
Author:	Jenna Surace
Date:	1/4/2019

File: de_styles4.css
*/

body {
	background-image: url(../de_photos/partylightbubble.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
}

/*==========Navigation Styles==========*/
div.nav {
  position: relative;
  margin: 0px 105px;
  padding: 15px 0px;
  background-color: black;
}

div.nav li {
  position: relative;
  list-style-type: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.4em;
  display: inline;
  padding-right: 40px;
}

div.nav li a {
  color: white;
  text-decoration: none;
}

/*=======Hover Effect===========*/
div#hoverNav li a {
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.3em;
  color: rgba(230, 222, 0, 1);
  border-radius: 0;
  padding: 18px 60px 20px;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(245,222,77,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0;
  border: none;
  border: 1px solid rgba(230,222,0, 0.5);
}

div#hoverNav li a:hover {
  color: #fff;
  border: 1px solid rgba(223,190,106,0);
  color: white;
  background-position: 99% 50%;
}

div#hoverNav ul.float-left {
  position: relative;
  width: 120%;
  -webkit-display-flex;
  -webkit-flex-wrap: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

/*===============Form================*/
body{
  background-color: #525252;
}
.centered-form {
  margin-top: 60px;
}

.centered-form .panel {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

div#form input.btn {
  position: relative;
  width: 200px;
  left: 320px;
}

div.row {
  margin-top: 0px;
}

div#form {
  position: relative;
  height: 500px;
  background-color: black;
}

div#form form {
  position: relative;
  height: 300px;
}

div#form div#mainRow {
  position: relative;
  height: 500px;
}

div#form .panel-body {
  height: 470px;
}

div.panel-body form {
  position: relative;
  padding: 0px 130px;
  padding-top: 10px;
}

div#form h3 {
  position: relative;
  left: 370px;
}

input#tel:valid+span:after {
  position: relative;
  left: 380px;
  bottom: 30px;
  content: '✓';
  padding-left: 5px;
  color: #009000;
}

div#img img {
  position: relative;
  width: 1110px;
  height: 200px;
  padding: 0px;
  left: 15px;
}

div#img {
  height: 200px;
  background-color: black;

}

.text h3 {
  position: relative;
  bottom: 175px;
  left: 40px;
}

.text h5 {
  position: relative;
  bottom: 140px;
  right: 130px;
}

.text h5 a {
  text-decoration: none;
}

.text h5 a:hover {
  color: #000985;
}

.panel-body img#thank {
  position: relative;
  width: 300px;
  height: 230px;
  bottom: 78px;
  left: 400px;
  border-radius: 40px;
}

div#form div#row3 {
  position: relative;
  height: 60px;
}

div#form div#row3 h6 {
  font-size: 12px;
  color: #636363;
}

div#form span#date {
  position: relative;
  background-color: white;
  padding-right: 5px;
  padding: 7px 7px;
  top: 5px;
  border-radius: 5px;
}

div#form input#calend {
  position: relative;
  top: 5px;
}


/*------===========Footer Styles========------*/
div.footer {
  text-align: left;
  background-color: black;
  position: relative;
  width: 1140px;
  padding: 0px;
  margin-left: 105px;
}

div.footer li {
  list-style-type: none;
  padding-bottom: 5px;
}

div.footer li a {
  text-decoration: none;
  color: white;
}

div#foot1 h1 {
  color: white;
}

div#foot1 hr {
  background-color: yellow;
  position: relative;
  width: 170px;
  right: 90px;
}

div#foot2 h1 {
  color: white;
}

div#foot2 hr {
  background-color: yellow;
  position: relative;
  width: 210px;
  right: 55px;
}

div.footer p {
  color: white;
}

img#footImg {
 width: 10%;
 height: 10%;
 align-content: left;
 padding: 4px 4px;
}








/*===============Tablet Media==================*/
@media only screen and (max-width: 768px) {

html {
  background-color: black;
}

/*-----Tablet Media Navigation-----*/
div.nav {
  margin: 0px;
}

div.nav ul {
  padding: 0px;
}

div.nav div#hoverNav {
  margin: 0px;
  padding: 0px;
}

div.nav li {
  position: relative;
  padding: 0px;
  width: 200px;
}

div.nav div#hoverNav li a {
  padding: 20px 30px;
}

div#hoverNav li a#home {
  position: relative;
  left: 17px;
}

div#hoverNav li a#photoa {
  position: relative;
  right: 33px;
}

div#hoverNav li a#renta {
  position: relative;
  left: 12px;
}

div#hoverNav li a#booka {
  position: relative;
  right: 10px;
}



